@charset "UTF-8";

/* --------------------------------------------------------------------------------------------------- */


.table {
	padding: 10px;
}

.tableRow {
	display: inline;
	padding: 0px 20px;
	height: 150px;
	border: 1px solid #bcbcbc;
	cursor: pointer;
}

.tableRow:hover{
	background-color: #FFFFCC;
	color: black;
}

.tableRow:active {
	background-color: #FFFFCC;
}

.field1{
	width:500px;
	text-align: center;	
}

.field2{
	text-align: left;	
	width:450px;
	height:200px;
	margin-left:11px;
}

#select1{
	width:180px;
}

