@charset "UTF-8";


/* --------------------------------------------------------------------------------------------------- */

.position{
	
	position: relative;
}

.officer{
	width:450px;
	height:140px;
	top : 23px;
	left : 23px;
	margin-bottom : 15px;
	position:relative;
	border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.officerTitle {
	position:absolute;
	left:37%;
	top:14%;
	margin:0;
	font-weight: 600;
	padding: 8px;
}

.offimg{
	border:none;
	width:100px;
	height:100px;
	position:absolute;
}

.oname {
	position:absolute;
	left:42%;
	top:53%;
	margin:0;
	font-size: 13px;
    color: brown;
}

.omember {
	position:absolute;
	left:38%;
	bottom:24%;
	margin:0;
}

