@charset "UTF-8";


.pdname{
	border:1px solid;
	width:450px;
	height:350px;
	margin:8%;
}

.pdbox1{

}

.pdbox1 h1{
	text-align:center;
}

.pdbox1 h4{
	text-align:right;
	margin-right:7%;
}

.pdbox2{
	margin-top:6%;
	margin-left:8%;
}

.pdbox2-p{
	border-bottom:1px solid #BBBBBB;
	width:300px;
}

.pdbox2-h3{
	text-align:right;
	margin-right:7%;
	margin-top:7%;
}