<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icia.oap.mapper.AlbaMapper">

	<select id="getMoneyList" resultType="icia.oap.beans.Money">
		SELECT MONEY , MCOUNT FROM
		WLCHECK WHERE RTTYPE=#{rtType} AND RTTIME = (SELECT MAX(RTTIME) FROM
		WLCHECK WHERE RTTYPE=#{rtType})
	</select>
	
	<select id="maxNote" resultType="String">
		SELECT WL_SPECIALNOTE FROM WL WHERE WL_TIME = (SELECT MAX(WL_TIME) FROM WL)
	</select>	
	
	<select id="maxTime" resultType="String">
		SELECT MAX(TO_CHAR((RT_TIME),'YYYYMMDDHH24MISS')) AS MAXTIME FROM RT WHERE RT_SIASHCODE=#{shCode}
	</select>	
	
	<insert id="insertRt">
		INSERT INTO RT(RT_SIASHCODE,RT_SIAABCODE,RT_TYPE) VALUES(#{shCode},#{abCode},#{rtType})
	</insert>
	
	<insert id="insertRd">
		INSERT INTO RD(RD_RTSHCODE,RD_RTABCODE,RD_RTTIME,RD_MONEYTYPE,RD_MONEYCOUNT)
		VALUES(#{shCode},#{abCode},TO_DATE(#{maxTime},'YYYYMMDDHH24MISS'),#{mType},#{mCount})
	</insert>
	
	<select id="myAlbaZone" resultType="icia.oap.beans.AlbaBean">
		SELECT  SIA_SHCODE AS SHCODE,
        SH_NAME AS SHNAME,
        SH_TYPE AS SHTYPE,
        SIA_ABCODE AS ABCODE,
        AB_NAME AS ABNAME,
        SC_STARTTIME AS STARTTIME,
        SC_ENDTIME AS ENDTIME
		FROM SIA INNER JOIN SH ON SIA_SHCODE = SH_CODE
         INNER JOIN AB ON SIA_ABCODE = AB_CODE
         INNER JOIN SC ON SIA_ABCODE = SC_SIAABCODE AND SIA_SHCODE = SC_SIASHCODE
		WHERE SIA_ABCODE = #{abCode}
	</select>	
	
	<select id="getPayCheck" resultType="icia.oap.beans.AlbaBean">
		SELECT  SHCODE,SHNAME,SHTYPE,ABCODE,ABNAME,STARTTIME,ENDTIME,PANAME,
        TO_CHAR(PD_STARTDATE,'YYYY-MM-DD') AS STARTDATE ,TO_CHAR(PD_ENDDATE,'YYYY-MM-DD') AS ENDDATE ,PD_PAYTOTAL AS PAYTOTAL
		FROM PAYGROUP INNER JOIN PD ON SHCODE = PD_PASHCODE AND ABCODE = PD_PAABCODE AND PANAME = PD_PANAME WHERE ABCODE=#{abCode}
	</select>	
	
		
	<!-- 알바가 가진 매장의 전체 업무리스트 가져오기 -->
	<select id="getAlbaTaskList" resultType="icia.oap.beans.AlbaBean">
		<![CDATA[
			SELECT  MT_SHCODE AS SHCODE,
			        SIA_ABCODE AS ABCODE,
			        MT_TLNUMBER AS TLNUMBER,
			        TL_COMMENT AS TLCOMMENT,
			        MT_DETAIL AS MTDETAIL
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			        INNER JOIN SIA ON MT.MT_SHCODE = SIA.SIA_SHCODE
			WHERE SIA_ABCODE = #{abCode}
		]]> 
	</select>
	
	<!-- 알바가 선택한 매장의 업무리스트 가져오기 -->
	<select id="getAlbaTaskListSelect" resultType="icia.oap.beans.AlbaBean">
		<![CDATA[
			SELECT  
			        MT_SHCODE AS SHCODE,
			        SIA_ABCODE AS ABCODE,
			        SH_NAME AS SHNAME,
			        MT_TLNUMBER AS TLNUMBER,
			        TL_COMMENT AS TLCOMMENT,
			        MT_DETAIL AS MTDETAIL
			        
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			        INNER JOIN SIA ON MT.MT_SHCODE = SIA.SIA_SHCODE
			        INNER JOIN SH ON MT.MT_SHCODE = SH.SH_CODE
			WHERE MT_SHCODE = #{shCode} AND SIA_ABCODE = #{abCode}
		]]> 
	</select>
	
	<!-- 알바가 다니는 전체 매장 가져오기 -->
	<select id="getAlbaShopList" resultType="icia.oap.beans.AlbaBean">
		<![CDATA[
			SELECT  SIA_SHCODE AS SHCODE,
			        SH_NAME AS SHNAME
			FROM SIA INNER JOIN SH ON SIA.SIA_SHCODE = SH.SH_CODE
			WHERE SIA_ABCODE = #{abCode}
		]]> 
	</select>
	
	<!-- 알바가 다니는 매장의 전체 업무 COUNT 하기 -->
	<select id="getAlbaTaskListCount" resultType="int">
		<![CDATA[
			SELECT  
			       COUNT(*)
			        
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			        INNER JOIN SIA ON MT.MT_SHCODE = SIA.SIA_SHCODE
			WHERE SIA_ABCODE = #{abCode}
		]]> 
	</select>
	
	<!-- 알바가 선택한 매장의 업무 COUNT 하기 -->
	<select id="getAlbaTaskListSelectCount" resultType="int">
		<![CDATA[
			SELECT  
			       COUNT(*)
			        
			FROM MT INNER JOIN TL ON MT.MT_TLNUMBER = TL.TL_NUMBER
			        INNER JOIN SIA ON MT.MT_SHCODE = SIA.SIA_SHCODE
			WHERE MT_SHCODE = #{shCode} AND SIA_ABCODE = #{abCode}
		]]> 
	</select>		
		
		
</mapper>	




