<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icia.oap.mapper.ManageMapper">

	<!-- 원진 -->

	<select id="getMyWorkZoneList"
		resultType="icia.oap.beans.ManageBean">
	<![CDATA[
		SELECT sh_code as shcode,sh_name as shName,sh_type as shType, sh_addr as shaddr,sh_tel 
		as shTel,
		COUNT(SIA.sia_abcode) AS workman
		FROM SH INNER JOIN SIA ON sia.sia_shcode = sh.sh_code 
		where SH_MNCODE = '10000000'
		group by sh.sh_code,sh.sh_addr,sh.sh_businessli,sh.sh_tel,sh.sh_type,sh.sh_name
		]]>
	</select>

	<!-- 진주 -->

	<!-- 근로계약서 탭 눌렀을때 그 매장의 근로계약서를 작성한 모두 -->
	<select id="laborList" resultType="icia.oap.beans.ManageBean">
	<![CDATA[
		SELECT AB_NAME AS "ABNAME",
		       LC_SIAABCODE AS "ABCODE",
		       LC_SIASHCODE AS "SHCODE",
		       LC_ROOT AS "LC_ROOT"
		FROM LC INNER JOIN AB ON LC.LC_SIAABCODE = AB_CODE
		WHERE LC_SIASHCODE = #{shCode}
	]]>
	</select>

	<!-- 근로계약서 상세 조회 -->
	<select id="laborDetailSelect"
		resultType="icia.oap.beans.ManageBean">
	<![CDATA[
	SELECT LC_SIASHCODE AS "SHCODE", 
	       LC_SIAABCODE AS "ABCODE",
	       LC_ROOT AS "LCROOT"
	FROM LC 
	where (LC_SIASHCODE = #{shCode}) AND (LC_SIAABCODE= #{abCode})
	]]>
	</select>

	<!-- 근로계약서 추가 -->
	<insert id="laborAdd">
		INSERT INTO LC(LC_SIASHCODE, LC_SIAABCODE, LC_ROOT)
		VALUES(#{shCode},
		#{abCode}, #{lcRoot})
	</insert>

	<!-- 선택한 근로계약서 삭제 -->
	<delete id="laborDelete">
		DELETE FROM LC WHERE (LC_SIASHCODE = #{shCode}) AND
		(LC_SIAABCODE =
		#{abCode})
	</delete>


	<!-- 특정 매장의 알바 정보 (이름,코드) -->
	<select id="getAlbaList1" resultType="icia.oap.beans.ManageBean">
	<![CDATA[
	SELECT SIA_SHCODE AS "SHCODE",
	       SIA_ABCODE AS "ABCODE",
	       AB_NAME AS "ABNAME"
	FROM SIA INNER JOIN AB ON SIA.SIA_ABCODE = AB.AB_CODE
	WHERE SIA_SHCODE = #{shCode}
	]]>
	</select>


	<!--썬택한날짜사이의 출퇴근 정보 조회 -->
	<select id="getCommuteList"
		resultType="icia.oap.beans.ManageBean">
	<![CDATA[
	SELECT AB_NAME AS "ABNAME",
	       CM_SCSHCODE AS "SHCODE",
	       CM_SCABCODE AS "ABCODE",
	       CM_SCSTARTTIME AS "STARTTIME",
	       SC_ENDTIME AS "ENDTIME",
	       TO_CHAR(CM_TIME,'YYYY-MM-DD_HH24:MI') AS "CMTIME",
	       CM_TYPE AS "CMTYPE",
	       CM_ROUND AS "CMROUND"
	FROM CM INNER JOIN SC ON (CM.CM_SCSHCODE = SC.SC_SIASHCODE) AND 
	   					 (CM.CM_SCABCODE = SC.SC_SIAABCODE) AND
	   					 (CM.CM_SCSTARTTIME = SC.SC_STARTTIME)
	       INNER JOIN AB ON CM.CM_SCABCODE = AB.AB_CODE
	WHERE (CM.CM_SCSHCODE = #{shCode}) AND (CM.CM_SCABCODE = #{abCode}) AND (CM.CM_TIME BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD')
		                           								  AND TO_DATE(#{endDate}, 'YYYY-MM-DD'))
	]]>
	</select>

	<!-- 매장코드의 관리자 이름과 매장 정보, 또 그 매장에 있는 알바생 코드까지 -->
	<select id="shopInfoAndAlbaList"
		resultType="icia.oap.beans.ManageBean">
	<![CDATA[
		SELECT SH_CODE AS "SHCODE",
		       SH_NAME AS "SHNAME",
		       SH_ADDR AS "SHADDR",
		       SH_TEL AS "SHTEL",
		       MN_NAME AS "MNNAME",
		       SIA_ABCODE AS "ABCODE",
		       AB_NAME AS "ABNAME"
		FROM SH INNER JOIN MN ON SH.SH_MNCODE = MN.MN_CODE
		        INNER JOIN SIA ON SH.SH_CODE = SIA.SIA_SHCODE
		        INNER JOIN AB ON SIA.SIA_ABCODE = AB.AB_CODE
		WHERE SH_CODE = #{shCode}
	]]>
	</select>

	<!-- 근로 계약서 [추가] 버튼누른후 알바생 select 박스 눌렀을때 알바생 정보 띄움 -->
	<select id="getLaborAlbaInfoList"
		resultType="icia.oap.beans.ManageBean">
	<![CDATA[
		SELECT AB_CODE AS "ABCODE",
		       AB_NAME AS "ABNAME",
		       AB_PHONE AS "ABPHONE",
		       AB_ADDR AS "ABADDR"
		FROM SIA INNER JOIN AB ON SIA.SIA_ABCODE = AB.AB_CODE
		WHERE SIA_SHCODE = #{shCode} AND SIA_ABCODE = #{abCode}
	]]>
	</select>

	<!-- 근로계약서 삭제 하면서 그 경로에 있는 파일삭제도 같이 하려고 lcRoot 가져오는것 -->
	<select id="getDeleteLaborLcRoot"
		resultType="icia.oap.beans.ManageBean">
	<![CDATA[
		SELECT LC_SIASHCODE AS "SHCODE",
		       LC_SIAABCODE AS "ABCODE",
		       LC_ROOT AS "LCROOT"
		FROM LC
		WHERE LC_SIASHCODE = #{shCode} AND LC_SIAABCODE = #{abCode}
	]]>
	</select>
	
	<!-- 사장님 로그인하고 나서 사장님의 이름 및  매장 선택  -->
	<select id="getSelectShopList" resultType="icia.oap.beans.ManageBean">
	<![CDATA[
		SELECT SH_CODE AS "SHCODE",
		       SH_MNCODE AS "MNCODE",
		       SH_NAME AS "SHNAME",
		       MN_NAME AS "MNNAME"
		FROM SH INNER JOIN MN ON SH.SH_MNCODE = MN.MN_CODE
		WHERE MN_CODE= #{mnCode}
	]]>
	</select>
	
	
	

	<!-- 급여관리 클릭시 급여정보에대한 전체 리스트 출력 -->
	<select id="getPayList" resultType="icia.oap.beans.ManageBean">
 	   <![CDATA[
        SELECT AB_CODE AS "ABCODE",
       		   SH_CODE AS "SHCODE",
       		   SH_NAME AS "SHNAME",
        	   AB_NAME AS "ABNAME",
        	   PA_NAME AS "PANAME"
		FROM   PA INNER JOIN AB ON PA.PA_SIAABCODE = AB.AB_CODE
			      INNER JOIN SH ON PA.PA_SIASHCODE = SH.SH_CODE
	    WHERE  PA_SIASHCODE=#{shCode}
      ]]>
	</select>
	
	<!-- 급여 상세정보 가져오는것 -->
	<select id="getPayInfo" resultType="icia.oap.beans.ManageBean">
 	<![CDATA[
       SELECT AB_CODE AS "ABCODE",
       		  SH_CODE AS "SHCODE",
              AB_NAME AS "ABNAME",
      		  SH_TYPE AS "SHTYPE",
      		  PD_PANAME AS "PANAME",
      		  PD_SIAPAY AS "APAY",
     		  PD_SIARESTTIME AS "RESTTIME",
     		  PD_TIMETOTAL AS "TIMETOTAL",
      		  PD_PAYTOTAL AS "PAYTOTAL"
	   FROM   PD INNER JOIN AB ON PD.PD_PAABCODE = AB.AB_CODE
                 INNER JOIN SH ON PD.PD_PASHCODE = SH.SH_CODE
	   WHERE  PD_PASHCODE=#{shCode} AND PD_PAABCODE=#{abCode} AND PD_PANAME=#{paName}
      ]]>
	</select>

	<!-- 급여추가 버튼 클릭시 정보 가져옴 -->
	<select id="getPayInsert" resultType="icia.oap.beans.ManageBean">
 	<![CDATA[
       SELECT  SIA_SHCODE AS SHCODE, 
         	   SIA_ABCODE AS ABCODE, 
               AB_NAME AS ABNAME,
               SIA_PAY AS APAY,      
        	   SIA_RESTTIME AS RESTTIME
 	  FROM    SIA INNER JOIN AB ON SIA.SIA_ABCODE = AB.AB_CODE 
 	  WHERE   SIA_SHCODE=#{shCode}
       ]]>
	</select>	

	
	<!--  출근시간  -->
	<select id="getPaySelect" resultType="String">
		SELECT
		TO_CHAR(CM_TIME,'HH24MI') FROM CM WHERE CM_TYPE = '1' AND
		TO_CHAR(CM_TIME,'YYYYMMDD')=#{sDate} AND CM_SCABCODE=#{abCode}
	</select>
	
	
	<!--  퇴근시간 -->
	<select id="getPaySelect1" resultType="String">
		SELECT
		TO_CHAR(CM_TIME,'HH24MI') FROM CM WHERE CM_TYPE = '-1' AND
		TO_CHAR(CM_TIME,'YYYYMMDD')=#{sDate} AND CM_SCABCODE=#{abCode}
	</select>


</mapper>	



